body{
  background-color: #f9f9f9 !important;
}
.mail-home-container{
  #filter-input {
    min-width: 100px;
  }
  .btn-group {
    .btn {
      margin-right: 5px;
      min-width: 122px;
    }
  }
  .check-all-holder{
    width: 50px;
    padding-left: 23px;
    padding-top: 7px;
    input{
      width: 15px;
      height: 15px;
    }
  }
  .mail-navigator-item-unread{
    margin-top: -20px;
    background-color: #ffffff;

    &:hover {
      cursor: pointer;
      background-color: #fffcfc;
    }


  }
  .no-items-to-show-holder{
    text-align: center;
    font-size: 30px;
    height: 100%;
    padding-top: 14px;
  }
  .mail-navigator-item-read{
    margin-top: -20px;
    background-color:#e9e9e9;

    &:hover {
      cursor: pointer;
      background-color: #fffcfc;
    }


  }
  .mail-navigator-item-sender-holder{
     margin-left: 8px;
     margin-top: 3px;
    margin-left: 20px !important;

    font-size: 14px;
     font-weight: bold;
   }
  .mail-navigator-item-checkbox-holder{
    margin-right: -60px;
    .mail-navigator-item-checkbox{
      height: 15px;
      width: 25px;
      &:hover {
        cursor:default ;
      }
    }
  }
  .mail-navigator-item-subject-holder{
    margin-left: 8px;
    margin-top: 3px;
    font-size: 14px;
    font-weight: bold;
  }
  .mail-navigator-item-date-holder{
    margin-top: 3px;
  }

  .mail-navigator-item-remove-button-holder{
    color: #af2020;
    font-size: 19px;
    margin-bottom: -5px;
    &:hover {
      color:  #dd0303;
    }


  }

  &:last-of-type {
    //border-bottom: solid 1px;
  }
  .email-content{
    height: 100% !important;
    overflow: hidden !important;
    padding:0 50px 30px 30px;
    .user-photo-div{
      padding-left: 5px;
      width: 40px;
      height: 40px;
      color: #cccccc;
      margin-left: 16px;
      padding-top: 9px;
      background-color: #f5f5f5;
      span{
        font-size: 2.2em;
      }
    }
    .email-content-sender-holder{
      font-weight: bold;
    }
    .email-content-message-holder{
      text-align: left;
      margin-top: 40px;
      margin-left: 40px;

      height: 251px;
      font-size: 25px;

    }

  }



}



