<div>
    <div class=" mail-home-container" >
        <div class="form-group">
            <div class=" input-group form-control " >
                <div class="row ">
                    <div class="col col-xs-1 col-sm-1 col-lg-1 check-all-holder ">


                            <input type="checkbox" class="checkbox" ng-model="mailHomeVm.checkAll" ng-click="mailHomeVm.checkAllFunction()">



                    </div>


                    <div class="  col col-xs-5 col-sm-5 col-lg-2 " >
                        <div class="input-group">
                            <span class="input-group-addon" ><span class="glyphicon glyphicon-search"></span></span>
                            <input type="text" class="form-control"  id="filter-input" placeholder="Filter..."  ng-model="mailHomeVm.filterString" ng-change="mailHomeVm.filterEntered();console.log('helooo')">
                        </div>

                    </div>
                    <div class="btn-group  row col col-xs-5 col-sm-5 col-lg-5" role="group"  ng-show="mailHomeVm.atLeastOneItemChecked">
                        <div class="col  ">
                            <button class=" btn btn-danger col-xs-2 col-sm-2 col-lg-2" ng-click="mailHomeVm.deleteMultipleItems()"> Delete </button>

                        </div>
                        <div class=" col">
                            <button class=" btn btn-primary col-xs-2 col-sm-2 col-lg-2 " ng-click="mailHomeVm.markAsRead()"> Mark As Read </button>

                        </div>
                        <div class=" col">
                            <button class=" btn btn-primary col-xs-2 col-sm-2 col-lg-2" ng-click="mailHomeVm.markAsUnread()"> Mark As Unread </button>

                        </div>
                    </div>

                </div>


            </div>
        </div>


        <div class="col col-xs-6 col-sm-6 col-lg-6 form-group" ng-show=" mailHomeVm.mailbox.messages.length < 1 " >
            <div class=" form-control no-items-to-show-holder">
                <p>No items to show :) </p>
            </div>
        </div>

        <ul class="list-group col col-xs-12 col-sm-12 col-lg-6" >
            <li ng-repeat="message in (mailHomeVm.filteredItems = (mailHomeVm.mailbox.messages |filter : mailHomeVm.filterString ))" ng-click="mailHomeVm.clickOnNavigationItem(message)">
                <div class=" list-group-item row mail-navigator-item"  ng-class="message.read ? 'mail-navigator-item-read' : 'mail-navigator-item-unread'">

                    <div class=" col col-xs-4 col-sm-2 col-lg-1 mail-navigator-item-checkbox-holder" >
                        <input type="checkbox" ng-click="$event.stopPropagation();mailHomeVm.checkControl()" class="checkbox mail-navigator-item-checkbox" ng-model="message.checked" >
                    </div>
                    <div class=" col col-xs-3 col-sm-1 col-lg-2 mail-navigator-item-sender-holder " >
                        {{message.sender}}
                    </div>
                    <div class="col col-xs-2 col-sm-3 col-lg-3 mail-navigator-item-subject-holder">
                        {{message.subject}}
                    </div>
                    <div class="pull-right col col-xs-4 col-sm-4 col-lg-6   ">
                        <div class="row">
                            <div class="col col-xs-3 col-sm-3 col-lg-1 pull-right mail-navigator-item-remove-button-holder" ng-click="mailHomeVm.removeItem(message)">
                                <span class="glyphicon glyphicon-remove "></span>
                            </div>
                            <div class="col col-xs-4 col-sm-4 col-lg-6  pull-right mail-navigator-item-date-holder">
                                {{message.timeSentToShow}}
                            </div>

                        </div>

                    </div>


                </div>

            </li>

        </ul>

        <div class="col col-xs-12 col-sm-7 col-lg-6 form-group" ng-show="mailHomeVm.showMessageContent " >
                <div class="email-content form-control ">
                    <div class="row" >
                        <h3 class="col col col-xs-12 col-sm-12 col-lg-12">
                            {{mailHomeVm.messageContent.subject}}
                        </h3>
                    </div>
                    <div class="row" >

                        <div class="col col col-xs-1 col-sm-1 col-lg-1 user-photo-div">
                            <span class="glyphicon glyphicon-user"></span>

                        </div>
                        <div class="col  col-xs-6 col-sm-6 col-lg-6">
                            <div class="email-content-sender-holder">
                                {{mailHomeVm.messageContent.sender}}
                            </div>
                            <div class="email-content-email-holder">
                                {{mailHomeVm.messageContent.email}}

                            </div>



                        </div>


                    </div>

                    <div class="row email-content-message-holder" style="">

                        <p class="col col-xs-12 col-sm-12 col-lg-12 ">
                            {{mailHomeVm.messageContent.message}}

                        </p>
                    </div>
                </div>









        </div>


    </div>
</div>


